.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*Instagram*/
.instagram{
border:none; 
overflow:hidden;  
width:310px; 
height:310px;
}


.homeMainbox{
  height: fit-content;
  width: fit-content;

}



/*NAVBAR HOME*/
.nav{
  width: 100%;
  height: 10vh;
  padding-top: 0px; 
  padding-bottom: 0px; 
  line-height: 80px;
  background-color: #0000;
  text-align: center;
  box-shadow: none;
  font-weight: bolder;
}

.nav a{
  color: white !important;
  font-size: 1.6em !important;
}


.nav ul {
  display: inline-block;
  list-style-type: none;
  
}

.nav .ul .li{
  list-style: none;
  display: inline-block;
  transition: 0.8s all;
  font-size: 80px;
}

.nav .ul .li .a{
  text-decoration: none;
  color: #ddd;
  padding: 80px;
}

.cool-link::after{
  content:'';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.cool-link:hover::after{
  width: 100%;
  transition: width .3s;
}


.brand-logo-tec{
  width:14%;
  height: 122%;
  justify-content: center;
}

/*NAV BAR NORMAL*/
.navN{
  width: 100%;
  height: 10vh;
  padding-top: 0px; 
  padding-bottom: 0px; 
  line-height: 80px;
  background-color: #0000;
  text-align: center;
  box-shadow: none;
  font-weight: bolder;
}

.navN a{
  color: black !important;
  font-size: 1.6em !important;
}


.navN ul {
  display: inline-block;
  list-style-type: none;
  
}

.navN .ul .li{
  list-style: none;
  display: inline-block;
  transition: 0.8s all;
  font-size: 80px;
}

.navN .ul .li .a{
  text-decoration: none;
  color: #f000;
  padding: 80px;
}

.cool-linkN::after{
  content:'';
  display: block;
  width: 0;
  height: 2px;
  background: #000000;
  transition: width .3s;
}

.cool-linkN:hover::after{
  width: 100%;
  transition: width .3s;
}



/*HOME*/

.navbarHMainBox{
  height: 735px;
  background: rgb(35, 35, 71);
  background-image: url("./images/instalacionesTecNP.jpg");
  min-height: 380px;

  /* Needed to position the navbar */
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax{
  /* Needed to position the navbar */
  position: relative;
}

.imgContainer{
  margin-top:10%;
}


.logoSaled{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*EVENTO CARD*/
.card{
  width: 100%;
  height: 100%;
}

.containerEvento{
  width: auto;
  height: auto;
}

/*Anuncios*/

.tituloAnuncios{
  text-align: center;
  font-weight: bolder;
}

.row1C{
  display: flex;
}

.box1{
  flex:10;
}

.eventContainerAnun{
  padding:10%;
}

.box2{
  flex: 4;
}

.box3{
  flex: 4;
}

.imagenFlex{
  width: 100%;
  height: 100%;
  padding: 5%;

}



.row2C{
  display: flex;
}

.box4{
  flex:4;
  margin-left: 2.5%;
  margin-top: 0%;

}

.redes{
  margin-top: 0%;
  font-size: x-large;
}

.box5{
  flex: 4;
  margin-top: 4%;

}

.box6{
  flex: 10;
}

.imageEquipoContainer{
 
 height: 425px;
 width: 800px;
}

.imagen2Flex{
  width: 100%;
  height: 100%;
  padding: 15px;
}




/*EVENTOS*/

.headerEventos{
  justify-content: center;
  display: flex;
  align-content: center;
  align-self: center;
  margin: auto;
  margin-top: 2%;
  width: 27%;
}

.iconoSaled{
  width: 50px;
  height: 65px;
}

.headerEventos .h4{
  align-self: center;
}

.boxDescripcionEvento{
  margin-top: 2%;
  margin-left: 5%;
}

.descripcionEvento{
  font-size: x-large;
}

.eventosMainBox{
  display: flex;
}

.eventContainerEvent{
  padding:8%;
}


/*Parte del cacas*/

.top-container{
  width: 100%;
}

.box-1{
  width: 100%;
  margin: 20px 0px;
}

.box-1 h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color:black;
  padding-left: 20px;
}

.box-1 p{
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  margin-top: 15px;
}

.box-2{
  text-align: center;
  margin-bottom: 20px;
  height: 180px;
  width: 100%;
  height: 100%;
}

.box-2 img{
  height: 100%;
}

.msg-container{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  text-align: center;
  color: black;
}

.cards-container{
  margin-top: 30px;
  text-align: center;
}

/* CARD CONTAINER HOLDS EVERYTHING */
.card-container{
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
  width: 280px;
  height: 320px;
  margin: 50px;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.card-L{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0px 21px 59px -27px rgba(92,79,79,1);
-moz-box-shadow: 0px 21px 59px -27px rgba(92,79,79,1);
box-shadow: 0px 21px 59px -27px rgba(92,79,79,1);
border: 1px rgb(239, 245, 239) solid;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.card-L:hover{
  transform: rotateY(180deg);
  -webkit-box-shadow: 0px 42px 96px -27px rgba(92,79,79,1);
-moz-box-shadow: 0px 42px 96px -27px rgba(92,79,79,1);
box-shadow: 0px 42px 96px -27px rgba(92,79,79,1);
}
/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .front-card{
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: white;
  color: #000; 
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.back-card{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: white;
  color: #333;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.front-card h1{
   font-family: 'zilla slab', sans-serif;
   margin: 50px 30px;
   margin-bottom: 5px;
  font-weight: bold;
  font-size: 150%;
  text-align: center; 
  color: black;
  font-family: 'Roboto', sans-serif;
}
.back-card h1{
  font-family: 'zilla slab', sans-serif;
  font-weight: bold;
  font-size: 150%;
  color: black;
  margin: 50px 30px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}
.front-card img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.back-card img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 20px 15px;
}
.front-card p{
    font-family: 'zilla slab', sans-serif;
    padding: 0px;
    font-weight: normal;
    font-size: 120%;
    text-align: center;
    color: rgb(133, 147, 133);
    font-family: 'Open Sans', sans-serif;
} 
.back-card p{
    font-family: 'zilla slab', sans-serif;
    padding: 0px;
    font-weight: normal;
    font-size: 120%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*This block (ends here) is merely styling for the flip card, and is NOT an essential part of the flip code */

@media only screen and (min-width: 768px) {

  .box-1{
    margin: 35px 0px;

  }
  
  .box-1 h1{
    font-size: 2rem;
  }
  
  .box-1 p{
    font-size: 1.5rem;
  }
  .box-2 {
    text-align: center;
  }
  .box-2 img{
    width: 80%;
    height: 20rem;
  }
  
  .msg-container{
    text-align: center;
    font-size: 1rem;
    margin-top: 30px;
  }

  .card-container{
    margin-bottom: 50px;
    width: 300px;
    height: 350px;
  }

}

@media only screen and (min-width: 1000px) {
  .top-container{
    display: flex;
  }
  
  .box-1{
   flex: 1;
   padding-left: 20px;
  }
  
  .box-2{
    flex: 1;
  }
  
  .box-2 img{
    margin-top: 50px;
  }

}

/*PARTE CACAS 2*/

.anuncios{
    background-color: white;
    text-align: center;
}
.mentoria{
    background-color: #FF7A7A;
    color: white;
    text-align: center;
}
.apoyo{
    background-color:white;
    text-align: center;
}
.anuncios-title{
    text-align: center;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.mentoria-title{
    text-align: center;
    margin-bottom:5px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}
.apoyo-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    margin-bottom: 10px;
}
.box-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-mentoria{
    flex: 1;
    text-align: center;
    width: 68%;
    margin: 5px 0px;
    font-family: 'Open Sans', sans-serif;
    border: 1px rgb(239, 245, 239) solid;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    background-color: white;
}
#bottom-box-mentoria {
    margin-bottom: 15px;
}
.box-mentoria img{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}
.box-mentoria p{
    padding: 20px;
    background-color: white;
    color: black;
}
.box-apoyo{
    flex: 1;
    width: 68%;
    font-family: 'Open Sans', sans-serif;
    border: 1px rgb(239, 245, 239) solid;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
}
.box-apoyo img{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}
#box-text{
    flex: 1;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 20px 50px;
}
.box-apoyo h3{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0px;
}
.button-home {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  footer{
      margin-top: 20px;
      text-align: center;
      background-color: #FF7A7A;
  }

  @media only screen and (min-width: 768px) {
    .anuncios{
        font-size: x-large;
    }
    .mentoria-title{
        font-size: x-large;
    }
    .apoyo-title{
        font-size: x-large;
        margin-top: 10px;
    }
    .box-mentoria{
        margin: 20px 20px;
    }
    .box-mentoria h4{
        padding: 100px;
    }
    .box-mentoria p{
        padding: 30px;
    }
    .button-home{
        padding: 25px 45px;
        margin: 15px;
        margin-bottom: 25px;
    }
  }

  @media only screen and (min-width: 1000px) {
      .box-home-container{
          flex-direction: row;
      }
      .box-mentoria{
          margin: 0px 40px;
      }
      #bottom-box-mentoria{
          margin-bottom: 0px;
      }
      .box-apoyo{
          flex: .7;
        margin-right:40px;
      }
  }



