.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*Instagram*/
.instagram{
border:none; 
overflow:hidden;  
width:260px; 
height:260px;
}



/*NAVBAR*/
.nav{
  width: 100%;
  height: 10vh;
  padding-top: 0px; 
  padding-bottom: 0px; 
  line-height: 80px;
  background-color: #0000;
  text-align: center;
  box-shadow: none;
  font-weight: bolder;
}


.nav ul {
  display: inline-block;
  list-style-type: none;
  
}

.nav .ul .li{
  list-style: none;
  display: inline-block;
  transition: 0.8s all;
  font-size: 80px;
}

.nav .ul .li .a{
  text-decoration: none;
  color: #ddd;
  padding: 30px;
}


.brand-logo-tec{
  width:14%;
  height: 122%;
  justify-content: center;
}


/*HOME*/

.navbarHMainBox{
  height: 735px;
  background: rgb(35, 35, 71);
  background-image: url("./images/instalacionesTecNP.jpg");
  min-height: 380px;

  /* Needed to position the navbar */
  position: relative;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax{
  /* Needed to position the navbar */
  position: relative;
}

.imgContainer{
  margin-top:10%;
}


.logoSaled{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*EVENTO CARD*/

.card{
  width: 70%;
  height: 80%;
}

/*Anuncios*/
.anunciosMainbox{
  display: flex;
}

.row1{
  background-color: rgb(248, 236, 196);
  height: 60vh;
}

.row2{
  background-color: rgb(213, 205, 178);
  height: 40vh;
}

.column1{
  height: inherit;
  
}

.column2{
  height: inherit;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column3{
  float: left;
  width: 50%;
}

.column4{
  float: right;
  width: 50%;
}

.evento1{
  width: 50%
}

.evento2{
  width: 50%
}







/*Parte del cacas*/
.maincontainer{
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  box-shadow: 0.5rem 0.5rem 3rem rgba(231, 17, 17,0.5);
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: white;
  color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: white;
  color: #333;
  transform: rotateY(180deg);
  clear: float;
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1{
  font-family: 'zilla slab', sans-serif;
  padding: 20px;
  font-weight: bold;
  font-size: 100%;
  text-align: center; 
  color: rgb(216, 38, 38);
}
.theback h1{
  font-family: 'zilla slab', sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: rgb(216, 38, 38);
  margin: 50px 30px;
}
.thefront img{
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.theback img{
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin: 20px 15px;
}
.thefront p{
    font-family: 'zilla slab', sans-serif;
    padding: 15px;
    font-weight: normal;
    font-size: 80%;
    text-align: center;
} 
.theback p{
    font-family: 'zilla slab', sans-serif;
    padding: 15px;
    font-weight: normal;
    font-size: 80%;
    text-align: center;
    display: block;
}
